body {
  font-family: 'Roboto', sans-serif;
  margin: 0.5em;
/*   background-image: url("https://github.com/ddouglasgoody/nyc-baseball-stadiums/blob/master/infield.png?raw=true"); */
  background-color: #191918;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #DADADA;
}

h1 {
/*   font-weight: bold; */
  font-family: 'Fugaz One', cursive;
  font-size: 38px;
  color: #FFFEFB;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #FFFEFB;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #FFFEFB;
}

h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FFFEFB;
}

h5 {
  font-family: 'Fugaz One', cursive;
  font-size: 24px;
  color: #FFFEFB;
}

#map {
  position: relative;
  height: 100vh;
  width: 100%;
  float: left;
  border-style: outset;
  border-width: thin;
  border-color: gray;
}

.sidebar {
  display: block;
  position: relative;
  width: 20vw;
  top: 10px;
  left: 10px;
  z-index: 5001;
  padding: 0px;
  background: rgba(128,128,128,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
}

.sidebar-stadium {
  font-weight: bold;
  font-family: 'Fugaz One', cursive;
  font-size: 21px;
  color: #191918;
}

.sidebar-team {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

.sidebar-year {
  font-style: oblique;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.sidebar-image {
  width: 100%;
  height: auto;
}

.sidebar-image img {
  width: 95%;
  height: auto;
}

.overlay {
  position: absolute;
  float: left;
  top: 0;
  right: 0;
  padding: 5px;
  background: transparent;
  z-index: 500;
}

#sourcesBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 500;
}

.sourceOverlay {
  display: none;
  margin: auto;
  position: fixed;
  float: left;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 5px;
  background-color: rgba(0,0,51,0.9);
  z-index: 5005;
  cursor: pointer;
  text-align: center;
}

.sourceOverlay .sourceText {
  margin-top: 0;
  font-size: 1vw;
}

/* .sourceOverlay .sourceText h1 {
  display: none;
  height: 4vw;
  margin-top: 4vh;
} */

.btn {
  font-size: small;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  border: none; 
  color: black; 
  padding: 2px 4px; 
  cursor: pointer; 
  background-color: #AEAEAE;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-shadow: 4px 4px 10px black;
}

.btn:hover {
  background-color: DarkGray;
  box-shadow: 2px 2px 5px black;
}

.title-text-box {
  background: transparent;
  padding: 5px;
  text-align: center;
  max-width: 750px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.home-button {
  position: absolute;
  margin-top: 7.5vh;
  margin-bottom: 2vh;
  margin-left: 0.5vh;
  padding: 2px 4px; 
  cursor: pointer; 
  background: white;
/*   bottom: 25px;
  right: 100px; */
  z-index: 500;
  transition-duration: .3s;
}